@import url('https://fonts.googleapis.com/css2?family=Rowdies:wght@700&display=swap');

body{
  background-image: url(https://images.unsplash.com/photo-1522860747050-bb0c1af38ae9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1051&q=80);
  background-size: cover;
}

p {
  padding: 10px;
  background-color: #ffaaff;
}
#head h1{
  justify-content: center;
  text-align: center;
  border: 1px solid whitesmoke;
  font-size: 50px;
  font-family: 'Rowdies', cursive;

} 
video{
  margin-left: 50px;
  border: 2px solid whitesmoke;
}
#submit{
  margin-left: 850px;
  border: 3px solid whitesmoke;
  margin-top: 50px;
  font-size: 20px;
  padding: 5px ;
  border: 1px solid black;
  background: transparent;
}
#lab1,#lab2 {
  text-align: right;
  margin-right: 40px;
  font-size: 30px;
  /* justify-content: center; */
}
#name{
  font-size: 20px;
}
#itemid{
  font-size: 20px;
}


@media screen and (max-width: 800px) {
    body{
      background-size:cover;
    }
    #submit{
      margin-left:200px;
      margin-bottom:100px;
    }

  video, #submit ,#head h1{
    text-align:left;
    justify-content:left; /* The width is 100%, when the viewport is 800px or smaller */
  }
}